<!DOCTYPE html>
<html>
  <head>
    <title>#InternetHasFallen</title>
    <link rel='stylesheet' href='/stylesheets/style.min.css' />
  </head>
  <body>
    <div class="main-container">
      <div class="center-block text-center">
        <h1><%= random %></h1>
        <p>Created by <a href="https://github.com/viruscmd">VCOBA</a></p>
      </div>
    </div>
  </body>
</html>
